.footer {
    border: 2px solid grey;
    border-radius: 25px;
    color: grey;
    position: fixed;
    left: 950px;
    top: 120px;
    width: 100%;

 }

 .color_f_h{
     color: black;
 }

.body{
    
    
    border-top: 2px solid lightblue;
    position: centred;
}   

h1{
    display: inline;
    color: orange;
}

h2{
    display: inline;
}



